@media screen and (max-width: 1024px) {

    /* ==================== GENERAL STYLES ==================== */

    .container {
        width: var(--container-width-md);
        position: relative;
    }

    h1 {
        font-size: 2.5rem;
        line-height: 1.3;
    }

    h2 {
        font-size: 2.5rem;
        color: var(--color-primary-variant);
    }

    /* ==================== NAVBAR ==================== */

    .nav__socials {
        display: none;
    }

    .nav__links {
        position: absolute;
        top: 100%;
        right: 0;
        flex-direction: column;
        gap: 0;
        display: none;
    }

    .nav__links li {
        height: 5rem;
        box-shadow: -3rem 3rem 3rem rgba(0, 0, 0, 0.7);
    }

    .nav__links li a {
        background: var(--color-bg-4);
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        padding: 1rem 5rem 1rem 3rem;
        border-top: 1px solid var(--color-bg-2);
    }

    .nav__toggle-btn {
        display: inline-block;
        font-size: 2rem;
        background: transparent;
        cursor: pointer;
        color: var(--color-white);
    }

    #nav__toggle-close {
        display: none;

    }

    /* ==================== HEADER ==================== */

    header {
        height: fit-content;
        display: grid;
        place-items: center;
    }

    .header__image-bg,
    .header__image-sm {
        display: none;
    }

    .header__container {
        grid-template-columns: 40% 54%;
        gap: 6%;
        margin: 0;
    }

    .header__image-lg {
        filter: saturate(1);
        border: none;
        width: 100%;
        top: 6rem;
        left: 0;
    }

    .header__left:hover .header__image-lg {
        border: none;
        box-shadow: 2rem 2rem 2rem rgba(0, 0, 0, 0.3);
    }

    .header__image-2 {
        display: block;
        position: relative;
        top: 10rem;
        height: 100%;
    }

    .header__right p {
        width: 100%;
    }

    .header__frames {
        display: none;
    }

    .header__left {
        padding-top: 0;
    }

    /* ==================== PROJECT ==================== */

    .project__container {
        display: grid;
        grid-template-columns: 75% 25%;
        gap: 2rem;
        margin-bottom: 4rem;
        place-items: center;
    }

    .two {
        width: 23rem;
    }

    .title {
        position: relative;
        left: 57%;
        top: 3.7rem;
    }

    /* ==================== ABOUT ==================== */

    .about__container {
        grid-template-columns: 40% 55%;
        gap: 6%;
        margin-top: 5rem;
    }

    .about__title {
        top: -7rem;
    }

    .about__image-bg,
    .about__image-sm {
        display: none;
    }

    .about__image-lg {
        left: 0;
        top: 1rem;
        filter: saturate(1) brightness(1);
    }

    .about__image:hover .about__image-lg {
        border: none;
    }

    .about__right p {
        margin-left: 0.5rem;
        margin-top: 8rem;
    }

    /* ==================== EXHIBITIONS ==================== */

    .exhibitions__gallery {
        gap: 1rem;
    }
}

@media screen and (max-width: 600px) {

    /* ==================== HEADER ==================== */
    h1,
    h2 {
        font-size: 2rem;
        line-height: 1.3;
        color: var(--color-primary-variant);
    }

    .header__container {
        grid-template-columns: 1fr;
        gap: 2rem;
        text-align: center;
    }

    .header__image-lg {
        top: 0;
    }

    .header__title {
        font-size: 2rem;
    }

    .header__image-2 {
        display: none;
    }

    /* ==================== PROJECT ==================== */

    .project__container {
        display: grid;
        grid-template-columns: 100%;
        gap: 2rem;
        margin-bottom: 4rem;
        place-items: center;
    }

    .two {
        display: none;
    }

    .title {
        text-align: center;
        position: static;
        margin: 3rem 0;
    }

    /* ==================== ABOUT ==================== */

    .about__container {
        grid-template-columns: 1fr;
        gap: 2rem;
        text-align: justify;
    }

    .about__title {
        width: 17rem;
    }

    .about__right p {
        margin-left: 0;
        margin-top: 2rem;
    }

    /* ==================== EXHIBITIONS ==================== */

    .exhibitions__head {
        grid-template-columns: 1fr;
    }

    .exhibitions__head>p {
        margin-top: 1rem;
        width: 100%;
    }

    .exhibitions__gallery {
        display: block;
    }

    .exhibitions__gallery article {
        width: 100%;
        height: fit-content;
        margin-bottom: 1rem;
        border: none;
    }

    /* ==================== FOOTER ==================== */

    .footer__container {
        text-align: center;
        grid-template-columns: 1fr;
    }

    .footer__head {
        flex-direction: column;
    }

    .footer__head h2 {
        font-size: 1.5rem;
    }

    .footer__links {
        flex-direction: column;
        gap: 2rem;
        margin-top: 5rem;
    }

}