.project__container {
    display: grid;
    grid-template-columns: 75% 25%;
    gap: 2rem;
    margin-bottom: 4rem;
    place-items: center;
}

.project__image {
    width: 23rem;
}

.project__title {
    position: relative;
    left: 57%;
    top: 3.7rem;
}