.project__title {
    width: auto;
    text-align: left;
    margin-bottom: 3rem;
    margin-left: 8.7rem;
}

.project__container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 5rem;
    text-align: justify;
    margin-bottom: 4rem;
}

.project__image {
    width: 25rem;
}