/* Google Fonts - Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

/* ============================= VARIABLES ============================== */

:root {
    /* Green Theme */
    --color-primary: #ff7b02;
    --color-primary-variant: #e5a55d;
    --color-bg-1: #000e17;
    --color-bg-2: #001e2d;
    --color-bg-3: #012734;
    --color-bg-4: #003347;
    --color-light: #85a2b2;
    --color-white: hsl(0, 0%, 90%);

    /* Green Theme */
    /*
    --color-primary: #ff7b02;
    --color-primary-variant: #e5a55d;
    --color-bg-1: #140021;
    --color-bg-2: #1e0032;
    --color-bg-3: #25003e;
    --color-bg-4: #36005a;
    --color-light: #d0b8e0;
    --color-white: hsl(0, 0%, 90%);
    */

    --container-width-lg: 85%;
    --container-width-md: 92%;

    --transition: all 400ms ease;
}

/* ========================== GENEREAL STYLES =========================== */

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.7;
    color: var(--color-light);
    background: var(--color-bg-3);
}

h1,
h2 {
    line-height: 1.1;
    font-weight: 400;
}

h1 {
    font-size: 4rem;
    color: var(--color-white);
}

h2 {
    font-size: 3.5rem;
}

a {
    color: var(--color-light);
    transition: var(--transition);
}

p {
    font-size: 1.2rem;
    color: var(--color-light);
    line-height: 1.9;
}

a:hover {
    color: var(--color-primary);
}

.container {
    width: var(--container-width-lg);
    margin: 0 auto;
    max-width: 2160px;
}

img {
    display: block;
    object-fit: cover;
    width: 100%;
}

/* =============================== NAVBAR =============================== */

nav {
    height: 3.7rem;
    width: 100vw;
    display: grid;
    place-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}

.nav__container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__toggle-btn {
    display: none;
}

.nav__logo {
    width: 7.5rem;
}

.nav__links {
    display: flex;
    gap: 4rem;
}

.nav__socials {
    display: flex;
    gap: 1rem;
}

.nav__socials a {
    width: 2rem;
    height: 2rem;
    display: grid;
    background: linear-gradient(var(--color-primary-variant), var(--color-primary));
    border-radius: 0.3rem;
    color: var(--color-bg-4);
    place-items: center;
}

.nav__socials a:hover {
    border-radius: 1rem;
    background: linear-gradient(var(--color-primary), var(--color-primary-variant));
}

/* Nav Class - Scroll Use - JS */
.window-scrolled {
    background: var(--color-bg-2);
    border-bottom: 0.2rem solid var(--color-bg-3);
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.4);
}

/* =============================== HEADER =============================== */

header {
    max-width: 100vw;
    height: 100vh;
    position: relative;
    top: 0;
    background: linear-gradient(var(--color-bg-1), var(--color-bg-3));
    overflow: hidden;

}

.header__container {
    display: grid;
    grid-template-columns: 40% 54%;
    gap: 4%;
    margin-top: 5rem;
    position: relative;
}

.header__left {
    padding-top: 4rem;
}

.header__head {
    display: flex;
    gap: 2rem;
    align-items: flex-start;
    padding-top: 3.5rem;
}

.header__image-sm {
    margin-top: 5rem;
}

.header__tag {
    color: var(--color-primary-variant);
}

.header__right p {
    margin-top: 1.7rem;
    margin-bottom: 1rem;
    width: 85%;
}

/* Only shows on Tablet and Phones */
.header__btn-md {
    display: none;
}

/* HEADER ANIMATION SECTION ------------------------ */

.img-frame-header:hover {
    box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.5);
    border: 0.5rem solid var(--color-primary);
    transition: var(--transition);
}

.header__title:hover {
    color: #ff7b02;
    font-size: 4.3rem;
    transition: var(--transition);
}

.header__image-bg {
    background-color: var(--color-bg-4);
    height: 22rem;
    width: 16rem;
    position: absolute;
}

.header__image-lg {
    width: 29rem;
    position: relative;
    top: 1rem;
    left: 1rem;
    filter: saturate(0) brightness(0.3);
    transition: var(--transition);
}

.header__image-sm {
    width: 28rem;
    height: 28rem;
    overflow: hidden;
    position: absolute;
    left: 6rem;
    top: 6rem;
    transition: var(--transition);
}

.header__left:hover .header__image-lg {
    filter: saturate(1) brightness(1);
    border: 1rem solid var(--color-bg-4);
    top: 0;
    left: 0;
}

.header__left:hover .header__image-sm {
    opacity: 0;
}

.header__frames {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 25px;
    width: 90%;
    margin-top: 4rem;
}

/* ================================ ABOUT =============================== */

#about {
    margin-top: 18rem;
}

.about__container {
    padding: 7rem;
    align-items: center;
    height: 100vh;
    width: auto;
    display: grid;
    grid-template-columns: 10rem 26rem auto;
    gap: 3rem;
    position: relative;
    background-image: url(./img/bg-texture.png);
}

.about__title {
    position: relative;
    left: 10%;
    bottom: 78%;
    position: absolute;
    z-index: 1;
}

.about__image {
    position: relative;
}

.about__image-bg {
    width: 16rem;
    height: 24rem;
    position: absolute;
    bottom: 0;
    background: var(--color-bg-4);
}

.about__image-lg {
    margin-top: 3rem;
    position: relative;
    left: 1rem;
    bottom: 1rem;
    filter: saturate(0) brightness(0.3);
    transition: 500ms ease;
}

.about__image-sm {
    position: absolute;
    top: 3rem;
    left: 8rem;
    height: 22rem;
    width: 22rem;
    overflow: hidden;
    box-shadow: 2rem 2rem 2rem rgba(0, 0, 0, 0.2);
    transition: 500ms ease;
}

.about__image:hover .about__image-sm {
    opacity: 0;
}

.about__image:hover .about__image-lg {
    filter: saturate(1) brightness(1);
    box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.2);
    border: 1rem solid var(--color-primary);
    left: 1rem;
    bottom: 1rem;
}

.about__right {
    margin-left: 6rem;
    margin-top: 6rem;
}

/* =============================== GALLERY ============================== */

#gallery {
    background: linear-gradient(var(--color-bg-2), var(--color-bg-3));
}

.gallery__head {
    display: flex;
    justify-content: space-between;
}

.gallery__head h2 {
    margin-top: 7rem;
    margin-bottom: 2rem;
    text-align: end;
    width: 100vw;
}

.swiper-wrapper {
    padding-bottom: 7rem;
}

.swiper-slide {
    border: 0.5rem solid var(--color-bg-2);
    height: fit-content;
    overflow: hidden;
    transition: var(--transition);
}

.swiper-slide:hover {
    box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.4);
}

.swiper-slide img {
    filter: saturate(0);
    transition: var(--transition);
}

.swiper-slide:hover img {
    filter: saturate(1);
}

.swiper-pagination {
    margin-bottom: 2rem;
}

/* ============================= EXHIBITIONS ============================ */

.exhibitions__container {
    position: relative;
}

.exhibitions__head {
    display: grid;
    grid-template-columns: auto 10rem;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
}

.exhibitions__head>p {
    width: 45rem;
}

.exhibitions__gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
    margin-bottom: 4rem;
}

.exhibitions__gallery article {
    border: 0.5rem solid var(--color-bg-4);
    transition: var(--transition);
}

.exhibitions__gallery article:nth-child(1) {
    grid-row: 1/3;
}

.exhibitions__gallery article:nth-child(4) {
    grid-column: 2/4;
    grid-row: 2/3;
}

.exhibitions__gallery article img {
    height: 100%;
    filter: saturate(0);
    transition: var(--transition);
}

.exhibitions__gallery article:hover {
    box-shadow: 0 4rem 4rem rgba(0, 0, 0, 0.5);
    border: 0.5rem solid var(--color-primary-variant);
}

.exhibitions__gallery article img:hover {
    filter: saturate(1);
}

/* ================================ FOOTER ============================== */

footer {
    margin-top: 7rem;
    background-image: url(./img/bg-texture.png);
}

.footer__container {
    border-top: 0.5rem solid var(--color-bg-4);
    padding: 5rem 0;
    transition: var(--transition);
}

.footer__container:hover {
    border-top: 0.5rem solid var(--color-primary);
}

.footer__head {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.footer__btn {
    width: 5rem;
    height: 5rem;
    border: 0.2rem solid var(--color-primary-variant);
    border-radius: 50%;
    font-size: 3rem;
    color: var(--color-primary-variant);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--transition);
}

.footer__btn:hover {
    border: 0.2rem solid var(--color-primary);
    transform: translateY(-1rem);
}

.footer__links {
    margin: 3rem 0 5rem;
    display: flex;
    align-items: center;
    gap: 5rem;
    font-size: 1.3rem;
}