/* Google Fonts - Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

/* ============================= VARIABLES ============================== */

:root {
    /* Green Theme */
    --color-primary: #ff7b02;
    --color-primary-variant: #e5a55d;
    --color-bg-1: #000e17;
    --color-bg-2: #001e2d;
    --color-bg-3: #012734;
    --color-bg-4: #003347;
    --color-light: #85a2b2;
    --color-white: hsl(0, 0%, 90%);

    /* Green Theme */
    /*
    --color-primary: #ff7b02;
    --color-primary-variant: #e5a55d;
    --color-bg-1: #140021;
    --color-bg-2: #1e0032;
    --color-bg-3: #25003e;
    --color-bg-4: #36005a;
    --color-light: #d0b8e0;
    --color-white: hsl(0, 0%, 90%);
    */

    --container-width-lg: 88%;
    --container-width-md: 92%;

    --transition: all 400ms ease;
}

/* ========================== GENEREAL STYLES =========================== */

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.7;
    color: var(--color-light);
    background: var(--color-bg-3);
    background-image: url("./img/bg-texture.png");
}

h1,
h2 {
    line-height: 1.1;
    font-weight: 400;
}

h1 {
    font-size: 4rem;
    color: var(--color-white);
}

h2 {
    font-size: 3, 5rem;
}

a {
    color: var(--color-light);
    transition: var(--transition);
}

a:hover {
    color: var(--color-primary);
}

img {
    display: block;
    object-fit: cover;
    width: 100%;
}

.container {
    width: var(--container-width-lg);
    margin: 0 auto;
    max-width: 2160px;
}

/* =============================== NAVBAR =============================== */

nav {
    height: 5rem;
    width: 100vw;
    display: grid;
    place-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}

.nav__container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__toggle-btn {
    display: none;
}

.nav__logo {
    width: 7.5rem;
}

.nav__links {
    display: flex;
    gap: 4rem;
}

.nav__socials {
    display: flex;
    gap: 1rem;
}

.nav__socials a {
    width: 2rem;
    height: 2rem;
    display: grid;
    background: linear-gradient(var(--color-primary-variant), var(--color-primary));
    border-radius: 0.3rem;
    color: var(--color-bg-4);
    place-items: center;
}

.nav__socials a:hover {
    box-shadow: 0 0.9rem 0.9rem rgba(0, 0, 0, 0.4);
}

/* Nav Class - Scroll Use - JS */
.window-scrolled {
    background: var(--color-bg-2);
    border-bottom: 0.2rem solid var(--color-bg-3);
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.4);
}

/* =============================== HEADER =============================== */

header {
    max-width: 100vw;
    height: 100vh;
    position: relative;
    top: 0;
    /* background: linear-gradient(var(--color-bg-3), var(--color-bg-1)); */
    /* overflow: hidden; */
}

.header__container {
    display: grid;
    grid-template-columns: 40% 54%;
    gap: 3%;
    margin-top: 10rem;
    position: relative;
}

.header__image-bg {
    background-color: var(--color-bg-4);
    height: 22rem;
    width: 16rem;
    position: absolute;
}

.header__head {
    display: flex;
    gap: 2rem;
    align-items: flex-start;
}

.emprty {
    height: 1.4rem;
    width: 18rem;
    background: var(--color-bg-2);
    border-radius: calc(3.5rem / 2);
    margin-bottom: 3.5rem;
    box-shadow: inset 0 1rem 1rem rgba(0, 0, 0, 0.3);
    border: 1px solid var(--color-bg-4);
}

.header__tag {
    color: var(--color-primary-variant);
}

.header__right p {
    margin-top: 1.7rem;
    margin-bottom: 1rem;
    width: 85%;
}

/* Only shows on Tablet and Phones */
.header__btn-md {
    display: none;
}

/* HEADER ANIMATION SECTION ------------------------ */
/* Animation - Girl Picture ------------------- */
.header__image-lg {
    width: 29rem;
    position: relative;
    top: 1rem;
    left: 1rem;
    filter: saturate(0) brightness(0.3);
    transition: var(--transition);
}

.header__image-sm {
    width: 28rem;
    height: 28rem;
    overflow: hidden;
    position: absolute;
    left: 6rem;
    top: 6rem;
    transition: var(--transition);
}

.header__left:hover .header__image-lg {
    filter: saturate(1) brightness(1);
    border: 1rem solid var(--color-bg-4);
    top: 0;
    left: 0;
}

.header__left:hover .header__image-sm {
    opacity: 0;
}

/* Animation - Bottom Picture ----------------- */
.header__frames {
    position: absolute;
    top: 87vh;
    right: 35rem;
    transition: var(--transition);
}

.header__frame {
    width: 14rem;
    border: 0.4rem solid var(--color-bg-3);
    box-shadow: 0 0 4rem rgba(0, 0, 0, 0.5);
    position: absolute;
    transform: rotate(-10deg);
    transform-origin: bottom left;
    transition: var(--transition);
}

.header__frame:nth-child(2) {
    transform: rotate(20deg);
    top: -2rem;
    left: 2rem;
}

.header__frames:hover .header__frame {
    transform: rotate(0);
}

.header__frames:hover .header__frame:nth-child(2) {
    top: 0;
    left: 15rem;
}

/* General Syles for Contact Buttom ----------- */

.contact__btn {
    color: var(--color-bg-1);
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    display: grid;
    place-items: center;
}

.header__btn {
    background: linear-gradient(-30deg, var(--color-primary-variant), var(--color-primary), var(--color-primary-variant));
    position: absolute;
    right: 13%;
    bottom: 3rem;
}

.header__btn:hover {
    box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.3);
    transform: translateY(-1rem);
    color: var(--color-bg-1);
}

.contact__btn i {
    font-size: 3.5rem;
    position: absolute;
}

.contact__btn p {
    font-size: 1rem;
    font-weight: 600;
    width: 10rem;
    height: 10rem;
    display: flex;
    justify-content: center;
    animation: spinText 30s linear infinite;
}

.contact__btn span {
    position: absolute;
    transform-origin: 0.3rem 5rem;
}

@keyframes spinText {
    to {
        transform: rotate(360deg);
    }
}