/* Google Fonts - Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

/* ------------------- VARIABLES ------------------- */
:root {
    /* Green Theme */
    --color-primary: #ff7b02;
    --color-primary-variant: #e5a55d;
    --color-bg-1: #000e17;
    --color-bg-2: #001e2d;
    --color-bg-3: #012734;
    --color-bg-4: #003347;
    --color-light: #85a2b2;
    --color-white: hsl(0, 0%, 90%);

    /* Green Theme */
    /*
    --color-primary: #ff7b02;
    --color-primary-variant: #e5a55d;
    --color-bg-1: #140021;
    --color-bg-2: #1e0032;
    --color-bg-3: #25003e;
    --color-bg-4: #36005a;
    --color-light: #d0b8e0;
    --color-white: hsl(0, 0%, 90%);
    */

    --container-width-lg: 88%;
    --container-width-md: 92%;

    --transition: all 400ms ease;
}

/* ----------------- GENERAL STYLES ---------------- */
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: var(--color-bg-3);
    color: var(--color-light);
    line-height: 1.7;
}

h1,
h2 {
    line-height: 1.1;
    font-weight: 400;
}

h1 {
    font-size: 4rem;
    color: var(--color-white);
}

h2 {
    font-size: 3, 5rem;
}

a {
    color: var(--color-light);
    transition: var(--transition);
}

a:hover {
    color: var(--color-primary);
}

img {
    display: block;
    object-fit: cover;
    width: 100%;
}

.container {
    width: var(--container-width-lg);
    margin: 0 auto;
    max-width: 2160px;
}

/* --------------------- NAVBAR -------------------- */

nav {
    height: 5rem;
    width: 100vw;
    display: grid;
    place-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}

.nav__container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__toggle-btn {
    display: none;
}

.nav__logo {
    width: 7.5rem;
}

.nav__links {
    display: flex;
    gap: 4rem;
}

.nav__socials {
    display: flex;
    gap: 1rem;
}

.nav__socials a {
    width: 2rem;
    height: 2rem;
    display: grid;
    background: linear-gradient(var(--color-primary-variant), var(--color-primary));
    border-radius: 0.3rem;
    color: var(--color-bg-4);
    place-items: center;
}

.nav__socials a:hover {
    box-shadow: 0 0.9rem 0.9rem rgba(0, 0, 0, 0.4);
}