#gallery {
    background: linear-gradient(var(--color-bg-2), var(--color-bg-3));
}

.gallery__title {
    display: flex;
    justify-content: space-between;
}

.gallery__title h2 {
    margin-top: 7rem;
    margin-bottom: 3rem;
    text-align: center;
    width: 100vw;
}

.gallery__text {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.gallery__text p {
    text-align: center;
    width: 55rem;
}

.gallery__text__credits {
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
}

.gallery__text__credits p {
    text-align: center;
    color: var(--color-primary-variant);
}

.swiper-wrapper {
    padding-bottom: 7rem;
}

.swiper-slide {
    border: 0.5rem solid var(--color-bg-2);
    height: fit-content;
    overflow: hidden;
    transition: var(--transition);
}

.swiper-slide:hover {
    box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.4);
}

.swiper-slide img {
    filter: saturate(0);
    transition: var(--transition);
}

.swiper-slide:hover img {
    filter: saturate(1);
}

.swiper-pagination {
    margin-bottom: 2rem;
}