footer {
    margin-top: 7rem;
    background-image: url(./img/bg-texture.png);
}

.footer__container {
    border-top: 0.5rem solid var(--color-bg-4);
    padding: 5rem 0;
    transition: var(--transition);
}

.footer__container:hover {
    border-top: 0.5rem solid var(--color-primary);
}

.footer__head {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.footer__btn {
    width: 5rem;
    height: 5rem;
    border: 0.2rem solid var(--color-primary-variant);
    border-radius: 50%;
    font-size: 3rem;
    color: var(--color-primary-variant);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--transition);
}

.footer__btn:hover {
    border: 0.2rem solid var(--color-primary);
    transform: translateY(-1rem);
}

.footer__links {
    margin: 3rem 0 5rem;
    display: flex;
    align-items: center;
    gap: 5rem;
    font-size: 1.3rem;
}