header {
    max-width: 100vw;
    height: 100vh;
    position: relative;
    top: 0;
    background: linear-gradient(var(--color-bg-1), var(--color-bg-3));
    overflow: hidden;

}

.header__container {
    display: grid;
    grid-template-columns: 40% 54%;
    gap: 4%;
    margin-top: 5rem;
    position: relative;
}

.header__left {
    padding-top: 4rem;
}

.header__head {
    display: flex;
    gap: 2rem;
    align-items: flex-start;
    padding-top: 3.5rem;
}

.header__image-sm {
    margin-top: 5rem;
}

.header__tag {
    color: var(--color-primary-variant);
}

.header__right p {
    margin-top: 3rem;
    margin-bottom: 0.4rem;
    width: 90%;
    text-align: justify;
    font-size: 1rem;
}

.header__btn {
    background: linear-gradient(135deg, var(--color-primary-variant), var(--color-primary));
    color: var(--color-bg-1);
    margin-top: 3rem;
    display: inline-block;
    padding: 0.6rem 1.6rem;
    font-weight: 600;
    border-radius: 0.3rem;
}

.header__btn:hover {
    color: var(--color-bg-1);
}

.img-frame-header:hover {
    box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.5);
    border: 0.5rem solid var(--color-primary);
    transition: var(--transition);
}

.header__title {
    font-size: 3rem;
    margin-top: 3rem;
}

.header__title:hover {
    color: #ff7b02;
    transition: var(--transition);
}

.header__image-bg {
    background-color: var(--color-bg-4);
    height: 22rem;
    width: 16rem;
    position: absolute;
}

.header__image-lg {
    width: 29rem;
    position: relative;
    top: 1rem;
    left: 1rem;
    filter: saturate(0) brightness(0.3);
    transition: var(--transition);
}

.header__image-sm {
    width: 28rem;
    height: 28rem;
    overflow: hidden;
    position: absolute;
    left: 6rem;
    top: 6rem;
    transition: var(--transition);
}

.header__left:hover .header__image-lg {
    filter: saturate(1) brightness(1);
    border: 1rem solid var(--color-bg-4);
    top: 0;
    left: 0;
}

.header__left:hover .header__image-sm {
    opacity: 0;
}

.header__frames {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 25px;
    width: 90%;
    margin-top: 4rem;
}